.header-container {
    width: 100%;
    height: 4.5rem;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    background-color: #fff;
    z-index: 2;
}

.header-distributor {
    width: 90%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.header-distributor .left-side {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.header-distributor .left-side .header-logo {
    width: 25%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-distributor .left-side .header-logo img {
    width: 2rem;
    height: 2rem;
}

.header-distributor .left-side .header-logo h1 {
    font-family: 'Roboto', sans-serif;
    margin: 0 0.7rem;
    color: #40BCFB;
    font-weight: 400;
    font-size: 1.3rem;
}

.header-distributor .left-side .header-menu {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-distributor .left-side .header-menu .nav-item {
    padding: 0.5rem 1.2rem;
    color: #40BCFB;
}

.header-distributor .left-side .header-menu .nav-item.active {
    background-color: #F48A16;
    color: #fff;
    border-radius: 5px;
}


.header-distributor .right-side {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.header-distributor .right-side .user-info{
    cursor: pointer;
    width: 65%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.header-distributor .right-side .user-info img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

.header-distributor .right-side .user-info span {
    color: #7a7878;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.header-distributor .right-side .distributor-name {
    padding-right: 0.4rem;
}

.header-distributor .right-side .arrow-down {
    padding-bottom: 0.5rem;
}

.header-option {
    width: 12rem;
    height: 6rem;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4.6rem;
    right: 5%;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 2px 3px 5px 5px;
}

.header-option .header-option-item {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
    color: #7a7878;
    cursor: pointer;
}

.header-option .header-option-item i {
    padding-right: 0.5rem;
}

.header-option .header-option-item:hover {
    transition: all 200ms ease-in-out;
    background-color: #eee;
}

.header-option .header-option-item:last-child:hover {
    transition: all 200ms ease-in-out;
    background-color: #f33f3f;
    color: #fff;
}
