.list-request {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.list-request .left-side {
    width: 100%;
    min-height: 100vh;
    border-right: 1px solid #ccc;
    transition: all 400ms ease-in-out;
}

.list-request .left-side.minified {
    width: 55%;
    transition: all 400ms ease-in-out;
}


