.custom-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    width: 100%;
    margin-bottom: 10px;
    color: #A5A3A3;
    font-size: 'Quicksand';
}

.custom-input.three {
    width: 30%;
    padding: 5px 10px;
    border-radius: 0;
}

.custom-input.five {
    width: 50%;
    padding: 5px 10px;
    border-radius: 0;
}