.right-left-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.list-admin {
    padding-top: 7rem;
    width: 72%;
    min-height: 95vh;
    border-right: 1px solid #cccccc;
    transition: all 400ms ease-in-out;
}

.list-admin.minified {
    width: 72%;
    transition: all 400ms ease-in-out;
}