.list-medicine {
    padding-top: 7rem;
    min-height: 92vh;
}

.list-medicine .medicine-form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.list-medicine .medicine-form h2 {
    font-family: 'Quicksand';
    color: #A5A3A3;
    font-weight: 400;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.list-medicine .medicine-form .input-group {
    display: flex;
    flex-direction: row;
}

.list-medicine .medicine-form .input-group input {
    margin: 0 1rem;
}

.list-medicine .medicine-form .input-group button {
    background-color: #40BCFB;
    padding: 0.5rem 1rem;
    color: #fff;
    border: 1px solid #40BCFB;
    border-radius: 0.4rem;
}