.fullscreen-overlay {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 3;
    left: -100vw;
    transition: all 500ms ease-in-out;
}

.fullscreen-overlay.active {
    left: 0;
}