.side-contact {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 1rem;
    font-family: 'Quicksand';
    color: #333;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.side-contact .contact-header {
    margin-bottom: 0.7rem;
}

.side-contact .contact-items {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0.8rem;
}

.side-contact .contact-items .contact-title {
    width: 40%;
    text-align: start;
}

.side-contact .contact-items .contact-value {
    width: 60%;
    padding-left: 1rem;
    text-align: start;
}
